.thumbnail p, .thumbnail h3 {
  white-space: nowrap; //不進行換行
  text-overflow: ellipsis; //顯示省略符號
  overflow: hidden;
}

p.image-container {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
}

p.image-container img {
  width: 100%;
}

p.noimage-container {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 65%;
  background-color: #D3D3D3;
  text-align:center;
  font-size: xx-large;
}

.user_item {
  margin-bottom: 15px;
}

.user_item img {
  width: 128px;
  height: 128px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.nav-pills-center {
  text-align:center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant {
  padding: 10px;
  float:left
}

.my-restaurant img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.my-restaurant p {
  text-align:center;
}

.follow_list img {
  width: 80px;
  height: 80px;
}

.ranking-item {
  margin-bottom: 15px;
}