.thumbnail p, .thumbnail h3 {
  white-space: nowrap; //不進行換行
  text-overflow: ellipsis; //顯示省略符號
  overflow: hidden;
}

p.image-container {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
}

p.image-container img {
  width: 100%;
}

p.noimage-container {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 65%;
  background-color: #D3D3D3;
  text-align:center;
  font-size: xx-large;
}

.nav-pills-center {
  text-align:center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant {
  padding: 10px;
  float:left
}

.my-restaurant img {
  height: 100px;
  border-radius: 10px;
}

.my-restaurant p {
  text-align:center;
}
